.TBButton {
    appearance: none;
    border: none;
    background: none;

    
    padding: 5px 10px;

    &:hover, &:focus-visible{
        border: none;
        outline: none;
        background-color: rgba(0,0,0, 0.1);
    }

    &:active{
        background-color: rgba(0,0,0, 0.15);
    }

    &:disabled {
        color: gray;
        &:hover{
            background: none;
        }
    }
}