.home {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100dvh;


    .float {
        display: flex;
        flex-direction: column;

        gap: 10px;
        
        padding: 20px;
        background: white;
        border-radius: 11px;
        filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.2));
    }

    button {
        margin-top: 10px;
        border: none;
        width: 100%;
        background: linear-gradient(45deg, lightblue, blue, darkblue);
        background-size: 200% 100%;
        color: whitesmoke;
        padding: 5px 10px;
        border-radius: 5px;
        transition: 1s background-position;
        font-size: 22px;
        
        &:hover {
            background-position-x: 100%;
        }
    }
}